* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #f6f8fc;
}
.content {
    width: 100vw;
    padding: 2rem;
    background-color: #fff;
    height: 100vh;
}
.content h1{
    margin: 1;
}

ol.pokemons {
    display: grid;
    grid-template-columns: 1fr ;
    list-style: none;
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }    
}
@media screen and (min-width: 350px) {
    ol.pokemons{
        grid-template-columns: 1fr 1fr ;
    }    
}
@media screen and (min-width: 576px) {
    ol.pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}
@media screen and (min-width: 992px) {
    ol.pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}
